<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fa3">  <td>18/10/28 18:24:45</td>   <td>0</td> <td title="&gt;&gt;ProjectMethodsPom.beforeSuite()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 18:24:45</td>   <td>375</td> <td>&nbsp;</td><td title="&gt;&gt;TC001CreateLeadUsingPom.setData()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 18:24:47</td>   <td>1738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsPom.login()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 18:24:57</td>   <td>12023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLeadUsingPom.createLead(java.lang.String, java.lang.String)[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">createLead</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 18:25:00</td>   <td>15147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsPom.closeApp()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 18:25:00</td>   <td>15428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsPom.login()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 18:25:08</td>   <td>22787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001CreateLeadUsingPom.createLead(java.lang.String, java.lang.String)[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">createLead</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 18:25:11</td>   <td>25608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsPom.closeApp()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 18:25:11</td>   <td>26015</td> <td title="&lt;&lt;ProjectMethodsPom.afterSuite()[pri:0, instance:testcasesPom.TC001CreateLeadUsingPom@52a86356]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
